body {
    background-image: url(crab.jpg);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: blue;
    text-align: center;
    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}